In [1]:
import pandas as pd

In [2]:
# Concatenate all DataFrames in the list
df= pd.read_csv("Train_60/X_Train_Data_Input.csv")
df1= pd.read_csv("Train_60/Y_Train_Data_Target.csv")
combined_df =df.merge(df1, on = 'ID', how='right')
#combined_df = pd.concat(all_dataframes, on = 'ID', how='right', ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined.csv', index=False)

In [3]:
# Concatenate all DataFrames in the list
df= pd.read_csv("Test_20/X_Test_Data_Input.csv")
df1= pd.read_csv("Test_20/Y_Test_Data_Target.csv")
combined_df =df.merge(df1, on = 'ID', how='right')
#combined_df = pd.concat(all_dataframes, on = 'ID', how='right', ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined1.csv', index=False)

In [4]:
df= pd.read_csv("combined.csv")

In [5]:
df.head()

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,1.0,0,0,0,1
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0

In [6]:
df=df.fillna(0)

In [7]:
df

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,0.000000,0.000000,0.000000,-0.407939,-0.015607,-0.774979,...,0,0.000000,0.00339,0.0,0,1.0,0,0,0,1
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,0.000000,-0.407939,-0.015607,-0.774979,...,0,0.000000,0.00339,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785128,01b7d7be203dbf2a3d75c9770d68dfb6,0.0,304,1126.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,-0.774979,...,0,0.000000,0.00339,0.0,0,1.0,0,0,0,0
785129,c7993f2c4c15f46f366f6daaa747197d,0.0,2495,2265.0,0.678139,0.701403,-0.007468,-0.407939,-0.015607,0.509591,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785130,a34b544f113a6d3b4eb353909a378afb,0.0,2495,3760.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,0.218972,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785131,fe5b1826c9e7c1864886b233402df330,0.0,2480,4493.0,0.001462,0.062121,-0.007468,-0.407939,-0.015607,0.400071,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785132,c3862b6625043b647d275e9825a7d6ea,0.0,2495,4202.0,0.678139,0.701403,-0.007467,3.440511,-0.015603,0.471097,...,0,0.000000,0.00339,0.0,0,0.0,0,0,0,0

In [8]:
import numpy as np
df= df.select_dtypes(include=[np.number])
df = df.where(lambda x: x > 0, 0)
df

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,2.0,2495,3726.0,0.678139,0.701403,0.0,0.434190,0.0,0.606265,0.0,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,0.0,2495,3454.0,0.452580,0.701403,0.0,1.554998,0.0,0.329946,0.0,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,2.0,2495,4543.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,0.0,211,59.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0,0.000000,0.00339,0.0,0,1.0,0,0,0,1
4,0.0,718,950.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0,0.000000,0.00339,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785128,0.0,304,1126.0,0.678139,0.701403,0.0,0.000000,0.0,0.000000,0.0,...,0,0.000000,0.00339,0.0,0,1.0,0,0,0,0
785129,0.0,2495,2265.0,0.678139,0.701403,0.0,0.000000,0.0,0.509591,0.0,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785130,0.0,2495,3760.0,0.678139,0.701403,0.0,0.000000,0.0,0.218972,0.0,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785131,0.0,2480,4493.0,0.001462,0.062121,0.0,0.000000,0.0,0.400071,0.0,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785132,0.0,2495,4202.0,0.678139,0.701403,0.0,3.440511,0.0,0.471097,0.0,...,0,0.000000,0.00339,0.0,0,0.0,0,0,0,0

In [9]:
df1= pd.read_csv("combined1.csv")

In [10]:
df1

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,07cf2025382f6325b316e128b1b90999,1.0,1986,53.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,0.554860,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
1,eb972eb3a1f8d0d1a13f45e7c07d37d4,2.0,1579,12.0,0.678139,0.701403,-0.007468,-0.407939,-0.015607,0.142149,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
2,ee35e164b3ddc25a9f40243b81ad290d,0.0,898,3817.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.003390,0.0,0,0.0,0,0,0,0
3,28229ccd7bad7dd83324a4175a7e0531,0.0,79,3449.0,-0.675216,-0.577162,-0.007469,0.004020,-0.015607,0.635264,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
4,2f94873da2c332d28f111742818e0fbb,1.0,646,6510.0,-2.028572,-1.855728,NaN,-0.407939,-0.015434,-0.774979,...,1,NaN,0.003390,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261707,03439d629190be73a4b382325ea46547,2.0,2495,4155.0,-2.028572,0.381762,-0.007468,-0.396521,-0.015607,0.454627,...,0,0.001351,0.003391,0.0,0,0.0,0,0,0,0
261708,10d17d09c22e9c2f77f0667a17b00d0e,0.0,1,1178.0,NaN,NaN,-0.007469,-0.407939,-0.015607,-0.774979,...,0,NaN,0.003390,0.0,0,0.0,0,0,0,0
261709,c22938dab5fc0cfae07f3a910f2eb177,0.0,1321,1356.0,0.678139,0.701403,-0.007468,-0.369193,-0.015607,0.912784,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
261710,2bda3964c16fe191fd8735850c454d26,0.0,589,1731.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.003390,0.0,0,0.0,0,0,0,0
261711,277573d0424e1b062f672c2030314fba,2.0,963,14.0,0.678139,0.701403,-0.007468,-0.122341,-0.015607,1.170911,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0

In [11]:
df1=df1.fillna(0)

In [12]:
df1

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,07cf2025382f6325b316e128b1b90999,1.0,1986,53.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,0.554860,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
1,eb972eb3a1f8d0d1a13f45e7c07d37d4,2.0,1579,12.0,0.678139,0.701403,-0.007468,-0.407939,-0.015607,0.142149,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
2,ee35e164b3ddc25a9f40243b81ad290d,0.0,898,3817.0,-2.028572,-1.855728,0.000000,-0.407939,-0.015607,-0.774979,...,0,0.000000,0.003390,0.0,0,0.0,0,0,0,0
3,28229ccd7bad7dd83324a4175a7e0531,0.0,79,3449.0,-0.675216,-0.577162,-0.007469,0.004020,-0.015607,0.635264,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
4,2f94873da2c332d28f111742818e0fbb,1.0,646,6510.0,-2.028572,-1.855728,0.000000,-0.407939,-0.015434,-0.774979,...,1,0.000000,0.003390,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261707,03439d629190be73a4b382325ea46547,2.0,2495,4155.0,-2.028572,0.381762,-0.007468,-0.396521,-0.015607,0.454627,...,0,0.001351,0.003391,0.0,0,0.0,0,0,0,0
261708,10d17d09c22e9c2f77f0667a17b00d0e,0.0,1,1178.0,0.000000,0.000000,-0.007469,-0.407939,-0.015607,-0.774979,...,0,0.000000,0.003390,0.0,0,0.0,0,0,0,0
261709,c22938dab5fc0cfae07f3a910f2eb177,0.0,1321,1356.0,0.678139,0.701403,-0.007468,-0.369193,-0.015607,0.912784,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
261710,2bda3964c16fe191fd8735850c454d26,0.0,589,1731.0,-2.028572,-1.855728,0.000000,-0.407939,-0.015607,-0.774979,...,0,0.000000,0.003390,0.0,0,0.0,0,0,0,0
261711,277573d0424e1b062f672c2030314fba,2.0,963,14.0,0.678139,0.701403,-0.007468,-0.122341,-0.015607,1.170911,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0

In [13]:
import numpy as np

df1 = df1.select_dtypes(include=[np.number])
df1= df1.where(lambda x: x > 0, 0)

In [14]:

df1

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,1.0,1986,53.0,0.678139,0.701403,0.0,0.00000,0.0,0.554860,0.0,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
1,2.0,1579,12.0,0.678139,0.701403,0.0,0.00000,0.0,0.142149,0.0,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
2,0.0,898,3817.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,...,0,0.000000,0.003390,0.0,0,0.0,0,0,0,0
3,0.0,79,3449.0,0.000000,0.000000,0.0,0.00402,0.0,0.635264,0.0,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
4,1.0,646,6510.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,...,1,0.000000,0.003390,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261707,2.0,2495,4155.0,0.000000,0.381762,0.0,0.00000,0.0,0.454627,0.0,...,0,0.001351,0.003391,0.0,0,0.0,0,0,0,0
261708,0.0,1,1178.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,...,0,0.000000,0.003390,0.0,0,0.0,0,0,0,0
261709,0.0,1321,1356.0,0.678139,0.701403,0.0,0.00000,0.0,0.912784,0.0,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
261710,0.0,589,1731.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,...,0,0.000000,0.003390,0.0,0,0.0,0,0,0,0
261711,2.0,963,14.0,0.678139,0.701403,0.0,0.00000,0.0,1.170911,0.0,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0

In [15]:
X= df1[['Column0','Column1','Column2','Column3','Column4', 'Column5', 'Column6', 'Column7','Column8','Column9','Column10', 'Column11','Column12','Column14', 'Column15', 'Column16','Column17', 'Column18', 'Column19','Column20', 'Column21']]

In [16]:
y=df1['target']

In [17]:
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_iris

In [18]:
import numpy as np
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [20]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.linear_model import LogisticRegression

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model.fit(X_train, y_train)


# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

In [21]:
f1

0.8020474018026038

In [22]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
nb = GaussianNB()
nb.fit(X_train, y_train)
y_pred_nb = nb.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred_nb))
print(classification_report(y_test, y_pred_nb))

Accuracy: 0.9599946506696215
              precision    recall  f1-score   support

           0       0.99      0.97      0.98     47471
           1       0.74      0.87      0.80      4872

    accuracy                           0.96     52343
   macro avg       0.87      0.92      0.89     52343
weighted avg       0.96      0.96      0.96     52343

In [23]:
from sklearn.ensemble import GradientBoostingClassifier

gb = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=42)
gb.fit(X_train, y_train)
y_pred_gb = gb.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred_gb))
print(classification_report(y_test, y_pred_gb))

Accuracy: 0.9631660393939973
              precision    recall  f1-score   support

           0       1.00      0.96      0.98     47471
           1       0.72      1.00      0.83      4872

    accuracy                           0.96     52343
   macro avg       0.86      0.98      0.91     52343
weighted avg       0.97      0.96      0.97     52343

In [24]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", cm)

precision = precision_score(y_test, y_pred, average='weighted')
print("Precision:", precision)

recall = recall_score(y_test, y_pred, average='weighted')
print("Recall:", recall)

f1 = f1_score(y_test, y_pred, average='weighted')
print("F1-Score:", f1)

Confusion Matrix:
 [[46960   511]
 [ 1268  3604]]
Precision: 0.9645969613275696
Recall: 0.9660126473453948
F1-Score: 0.9647156464271417

In [25]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
forest.fit(X_train, y_train)

y_pred_forest = forest.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred_forest))
print(classification_report(y_test, y_pred_forest))

Accuracy: 0.9660126473453948
              precision    recall  f1-score   support

           0       0.97      0.99      0.98     47471
           1       0.88      0.74      0.80      4872

    accuracy                           0.97     52343
   macro avg       0.92      0.86      0.89     52343
weighted avg       0.96      0.97      0.96     52343

In [26]:
from sklearn.svm import SVC

svm = SVC(kernel='linear')
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred_svm))
print(classification_report(y_test, y_pred_svm))

Accuracy: 0.9594024033777201
              precision    recall  f1-score   support

           0       0.97      0.98      0.98     47471
           1       0.82      0.73      0.77      4872

    accuracy                           0.96     52343
   macro avg       0.89      0.86      0.87     52343
weighted avg       0.96      0.96      0.96     52343

In [27]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn import datasets
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
 
# import the iris dataset
iris = datasets.load_iris()
X = iris.data
y = iris.target
 
# splitting X and y into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=1)
 
# GAUSSIAN NAIVE BAYES
gnb = GaussianNB()
# train the model
gnb.fit(X_train, y_train)
# make predictions
gnb_pred = gnb.predict(X_test)
# print the accuracy
print("Accuracy of Gaussian Naive Bayes: ",
      accuracy_score(y_test, gnb_pred))
# print other performance metrics
print("Precision of Gaussian Naive Bayes: ",
      precision_score(y_test, gnb_pred, average='weighted'))
print("Recall of Gaussian Naive Bayes: ",
      recall_score(y_test, gnb_pred, average='weighted'))
print("F1-Score of Gaussian Naive Bayes: ",
      f1_score(y_test, gnb_pred, average='weighted'))
 
# DECISION TREE CLASSIFIER
dt = DecisionTreeClassifier(random_state=0)
# train the model
dt.fit(X_train, y_train)
# make predictions
dt_pred = dt.predict(X_test)
# print the accuracy
print("Accuracy of Decision Tree Classifier: ",
      accuracy_score(y_test, dt_pred))
# print other performance metrics
print("Precision of Decision Tree Classifier: ",
      precision_score(y_test, dt_pred, average='weighted'))
print("Recall of Decision Tree Classifier: ",
      recall_score(y_test, dt_pred, average='weighted'))
print("F1-Score of Decision Tree Classifier: ",
      f1_score(y_test, dt_pred, average='weighted'))
 
# SUPPORT VECTOR MACHINE
svm_clf = svm.SVC(kernel='linear')  # Linear Kernel
# train the model
svm_clf.fit(X_train, y_train)
# make predictions
svm_clf_pred = svm_clf.predict(X_test)
# print the accuracy
print("Accuracy of Support Vector Machine: ",
      accuracy_score(y_test, svm_clf_pred))
# print other performance metrics
print("Precision of Support Vector Machine: ",
      precision_score(y_test, svm_clf_pred, average='weighted'))
print("Recall of Support Vector Machine: ",
      recall_score(y_test, svm_clf_pred, average='weighted'))
print("F1-Score of Support Vector Machine: ",
      f1_score(y_test, svm_clf_pred, average='weighted'))

Accuracy of Gaussian Naive Bayes:  0.9333333333333333
Precision of Gaussian Naive Bayes:  0.9352007469654529
Recall of Gaussian Naive Bayes:  0.9333333333333333
F1-Score of Gaussian Naive Bayes:  0.933615520282187
Accuracy of Decision Tree Classifier:  0.9555555555555556
Precision of Decision Tree Classifier:  0.9555555555555556
Recall of Decision Tree Classifier:  0.9555555555555556
F1-Score of Decision Tree Classifier:  0.9555555555555556
Accuracy of Support Vector Machine:  1.0
Precision of Support Vector Machine:  1.0
Recall of Support Vector Machine:  1.0
F1-Score of Support Vector Machine:  1.0